In [2]:
# Import pandas
import pandas as pd

# Read csv files
path1= "Resources/schools_complete.csv"
path2= "Resources/students_complete.csv"

# Store as Dataframes
schooldf=pd.read_csv(path1)
studentdf=pd.read_csv(path2)

# Merge data into one Dataframe
maindf=pd.merge(studentdf, schooldf, how='left', on=['school_name', 'school_name'])
maindf.head(2)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635

In [3]:
# Calculate the total number of unique schools
unique_school= maindf['school_name'].unique()

total_school=len(unique_school)
total_school

15

In [4]:
# Calculate the total number of students
studenttotal=maindf['student_name'].count()

studenttotal

39170

In [6]:
# Calculate total budget
budgetsum=maindf['budget'].sum()

budgetsum

82932329558

In [7]:
# Calculate average math score
avgmath=maindf['math_score'].mean()

avgmath

78.98537145774827

In [8]:
# Calculate average reading score
avgread=maindf['reading_score'].mean()

avgread

81.87784018381414

In [10]:
# Calculate the percentage of students with a math score >=70
math_pass= maindf.loc[maindf['math_score']>=70]
no_math_pass= math_pass['Student ID'].count()

per_math_pass= (no_math_pass/studenttotal)*100

per_math_pass

74.9808526933878

In [11]:
# Calculate the percentage of students with a reading score >=70
read_pass= maindf.loc[maindf['reading_score']>=70]
no_read_pass= read_pass['Student ID'].count()

per_read_pass= (no_read_pass/studenttotal)*100

per_read_pass

85.80546336482001

In [17]:
# Calculate the percentage of students with a math AND reading score >=70
duopass=maindf[(maindf['math_score']>=70) & (maindf['reading_score']>=70)]
no_duopass= duopass['Student ID'].count()

per_duopass=(no_duopass/studenttotal)*100

per_duopass

65.17232575950983

In [27]:
# Summarize district metrics
districtdf=pd.DataFrame({
    "Total Schools": total_school,
    "Total Students":f"{studenttotal:,}",
    "Total Budget":f'${budgetsum:,.2f}',
    "Avg Math Score":f'{avgmath:,.2f}',
    "Avg Reading Score":f'{avgread:,.2f}',
    "% Passing Math":f'{per_math_pass:.2f}',
    "% Passing Reading":f'{per_read_pass:.2f}',
    "% Passing Both":f'{per_duopass:.2f}'
}, index=[0])

districtdf

,Total Schools,Total Students,Total Budget,Avg Math Score,Avg Reading Score,% Passing Math,% Passing Reading,% Passing Both
0,15,"39,170","$82,932,329,558.00",78.99,81.88,74.98,85.81,65.17

In [74]:
# Next is by school summary
# Determine the School Type
school_type = schooldf.set_index(["school_name"])["type"]
# Group by school name
schoolname=maindf.set_index('school_name').groupby(['school_name'])

school_type

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [75]:
# Calculate total students
sch_studenttotal=schoolname['Student ID'].count()
sch_studenttotal

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
Name: Student ID, dtype: int64

In [76]:
# Calculate school budgets
sch_budget=schooldf.set_index('school_name')['budget']
sch_budget

school_name
Huang High School        1910635
Figueroa High School     1884411
Shelton High School      1056600
Hernandez High School    3022020
Griffin High School       917500
Wilson High School       1319574
Cabrera High School      1081356
Bailey High School       3124928
Holden High School        248087
Pena High School          585858
Wright High School       1049400
Rodriguez High School    2547363
Johnson High School      3094650
Ford High School         1763916
Thomas High School       1043130
Name: budget, dtype: int64

In [77]:
# Calculate budget per student
perstud_budget=(schooldf.set_index('school_name')['budget']/schooldf.set_index('school_name')['size'])
perstud_budget

school_name
Huang High School        655.0
Figueroa High School     639.0
Shelton High School      600.0
Hernandez High School    652.0
Griffin High School      625.0
Wilson High School       578.0
Cabrera High School      582.0
Bailey High School       628.0
Holden High School       581.0
Pena High School         609.0
Wright High School       583.0
Rodriguez High School    637.0
Johnson High School      650.0
Ford High School         644.0
Thomas High School       638.0
dtype: float64

In [79]:
# Calculate average math score at each school
sch_avgmath=schoolname['math_score'].mean()
sch_avgmath

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64

In [80]:
# Calculate average reading score at each school
sch_avgread=schoolname['reading_score'].mean()
sch_avgread

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [81]:
# Calculate percentage passing math at each school
sch_per_mathpass= maindf[maindf['math_score'] >= 70].groupby('school_name')['Student ID'].count()/sch_studenttotal*100
sch_per_mathpass

school_name
Bailey High School       66.680064
Cabrera High School      94.133477
Figueroa High School     65.988471
Ford High School         68.309602
Griffin High School      93.392371
Hernandez High School    66.752967
Holden High School       92.505855
Huang High School        65.683922
Johnson High School      66.057551
Pena High School         94.594595
Rodriguez High School    66.366592
Shelton High School      93.867121
Thomas High School       93.272171
Wilson High School       93.867718
Wright High School       93.333333
Name: Student ID, dtype: float64

In [82]:
# Calculate percentage passing read at each school
sch_per_readpass= maindf[maindf['reading_score'] >= 70].groupby('school_name')['Student ID'].count()/sch_studenttotal*100
sch_per_readpass

school_name
Bailey High School       81.933280
Cabrera High School      97.039828
Figueroa High School     80.739234
Ford High School         79.299014
Griffin High School      97.138965
Hernandez High School    80.862999
Holden High School       96.252927
Huang High School        81.316421
Johnson High School      81.222432
Pena High School         95.945946
Rodriguez High School    80.220055
Shelton High School      95.854628
Thomas High School       97.308869
Wilson High School       96.539641
Wright High School       96.611111
Name: Student ID, dtype: float64

In [83]:
# Calculate percentage passing both at each school
sch_per_duopass= maindf[(maindf['reading_score'] >= 70) & (maindf['math_score'] >= 70)].groupby('school_name')['Student ID'].count()/sch_studenttotal*100
sch_per_duopass

school_name
Bailey High School       54.642283
Cabrera High School      91.334769
Figueroa High School     53.204476
Ford High School         54.289887
Griffin High School      90.599455
Hernandez High School    53.527508
Holden High School       89.227166
Huang High School        53.513884
Johnson High School      53.539172
Pena High School         90.540541
Rodriguez High School    52.988247
Shelton High School      89.892107
Thomas High School       90.948012
Wilson High School       90.582567
Wright High School       90.333333
Name: Student ID, dtype: float64

In [97]:
# Summarize key metrics for schools

schoolsum=pd.DataFrame({
    "School Type": school_type,
    "Total Students": sch_studenttotal,
    "Total School Budget": sch_budget,
    "Per Student Budget": perstud_budget,
    "Avg Math Score": sch_avgmath,
    "Avg Reading Score": sch_avgread,
    "% Passing Math": sch_per_mathpass,
    "% Passing Reading":sch_per_readpass,
    "% Passing Both":sch_per_duopass
})

schoolsum['Total School Budget']=schoolsum['Total School Budget'].map('${:,.2f}'.format)
schoolsum['Per Student Budget']=schoolsum['Per Student Budget'].map('${:,.2f}'.format)
schoolsum['Avg Math Score']=schoolsum['Avg Math Score'].map('{:,.2f}'.format)
schoolsum['Avg Reading Score']=schoolsum['Avg Reading Score'].map('{:,.2f}'.format)
schoolsum["% Passing Math"]=schoolsum["% Passing Math"].map('{:,.2f}%'.format)
schoolsum["% Passing Reading"]=schoolsum[ "% Passing Reading"].map('{:,.2f}%'.format)
schoolsum["% Passing Both"]=schoolsum["% Passing Both"].map('{:,.2f}%'.format)

schoolsum.head(4)

,School Type,Total Students,Total School Budget,Per Student Budget,Avg Math Score,Avg Reading Score,% Passing Math,% Passing Reading,% Passing Both
school_name,,,,,,,,,
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.05,81.03,66.68%,81.93%,54.64%
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.06,83.98,94.13%,97.04%,91.33%
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.71,81.16,65.99%,80.74%,53.20%
Ford High School,District,2739,"$1,763,916.00",$644.00,77.10,80.75,68.31%,79.30%,54.29%

In [99]:
# Sort and display top 5 schools by passing rate
high_perform= schoolsum.sort_values('% Passing Both', ascending=False)
high_perform.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Avg Math Score,Avg Reading Score,% Passing Math,% Passing Reading,% Passing Both
school_name,,,,,,,,,
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.06,83.98,94.13%,97.04%,91.33%
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.42,83.85,93.27%,97.31%,90.95%
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.35,83.82,93.39%,97.14%,90.60%
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.27,83.99,93.87%,96.54%,90.58%
Pena High School,Charter,962,"$585,858.00",$609.00,83.84,84.04,94.59%,95.95%,90.54%

In [100]:
# Sort and display bottom 5 schools by passing rate
low_perform= schoolsum.sort_values('% Passing Both', ascending=True)
low_perform.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Avg Math Score,Avg Reading Score,% Passing Math,% Passing Reading,% Passing Both
school_name,,,,,,,,,
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.84,80.74,66.37%,80.22%,52.99%
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.71,81.16,65.99%,80.74%,53.20%
Huang High School,District,2917,"$1,910,635.00",$655.00,76.63,81.18,65.68%,81.32%,53.51%
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.29,80.93,66.75%,80.86%,53.53%
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.07,80.97,66.06%,81.22%,53.54%

In [103]:
# Creates grade level average math scores for each school (copy/pasted starter code)
ninth_math = studentdf.loc[studentdf['grade'] == '9th'].groupby('school_name')["math_score"].mean()
tenth_math = studentdf.loc[studentdf['grade'] == '10th'].groupby('school_name')["math_score"].mean()
eleventh_math = studentdf.loc[studentdf['grade'] == '11th'].groupby('school_name')["math_score"].mean()
twelfth_math = studentdf.loc[studentdf['grade'] == '12th'].groupby('school_name')["math_score"].mean()

# Create df and merges the math score averages by school and grade together
mathdf=pd.DataFrame({
        "9th": ninth_math,
        "10th": tenth_math,
        "11th": eleventh_math,
        "12th": twelfth_math
})

mathdf=mathdf[['9th', '10th', '11th', '12th']]
mathdf.index.name="School Name"

# Format
mathdf.style.format({'9th': '{:.2f}', 
                          "10th": '{:.2f}', 
                          "11th": "{:.2f}", 
                          "12th": "{:.2f}"})

In [104]:
# Creates grade level average math scores for each school (copy/pasted starter code)
ninth_reading = studentdf.loc[studentdf['grade'] == '9th'].groupby('school_name')["reading_score"].mean()
tenth_reading = studentdf.loc[studentdf['grade'] == '10th'].groupby('school_name')["reading_score"].mean()
eleventh_reading = studentdf.loc[studentdf['grade'] == '11th'].groupby('school_name')["reading_score"].mean()
twelfth_reading = studentdf.loc[studentdf['grade'] == '12th'].groupby('school_name')["reading_score"].mean()

# Create df and merges the reading score averages by school and grade together
readingdf = pd.DataFrame({
        "9th": ninth_reading,
        "10th": tenth_reading,
        "11th": eleventh_reading,
        "12th": twelfth_reading
})
readingdf = readingdf[['9th', '10th', '11th', '12th']]
readingdf.index.name = "School Name"

# Format
readingdf.style.format({'9th': '{:.2f}', 
                             "10th": '{:.2f}', 
                             "11th": "{:.2f}", 
                             "12th": "{:.2f}"})

In [107]:
# Scores By School Spending
# Establish the bins 
spending_bins = [0, 585, 630, 645, 680]
labels = ["<$585", "$585-630", "$630-645", "$645-680"]

maindf['spending_bins']=pd.cut(maindf['budget']/maindf['size'], spending_bins, labels=labels)

# Groupby spending
spending=maindf.groupby('spending_bins')

In [109]:
# Calculate avg math score by spending
sp_avgmath=spending['math_score'].mean()
sp_avgmath

spending_bins
<$585       83.363065
$585-630    79.982873
$630-645    77.821056
$645-680    77.049297
Name: math_score, dtype: float64

In [110]:
# Calculate avg reading score by spending
sp_avgread=spending['reading_score'].mean()
sp_avgread

spending_bins
<$585       83.964039
$585-630    82.312643
$630-645    81.301007
$645-680    81.005604
Name: reading_score, dtype: float64

In [111]:
# Calculate % passing math by spending
sp_math_pass = maindf[maindf['math_score'] >= 70].groupby('spending_bins')['Student ID'].count()/spending['Student ID'].count()*100
sp_math_pass

spending_bins
<$585       93.702889
$585-630    79.109851
$630-645    70.623565
$645-680    66.230813
Name: Student ID, dtype: float64

In [112]:
# Calculate % passing reading by spending
sp_read_pass = maindf[maindf['reading_score'] >= 70].groupby('spending_bins')['Student ID'].count()/spending['Student ID'].count()*100
sp_read_pass

spending_bins
<$585       96.686558
$585-630    88.513145
$630-645    82.600247
$645-680    81.109397
Name: Student ID, dtype: float64

In [113]:
sp_duo_pass = maindf[(maindf['reading_score'] >= 70) & (maindf['math_score'] >= 70)].groupby('spending_bins')['Student ID'].count()/spending['Student ID'].count()*100
sp_duo_pass

spending_bins
<$585       90.640704
$585-630    70.939239
$630-645    58.841194
$645-680    53.528791
Name: Student ID, dtype: float64

In [115]:
# Create the spending df
spendingsummary=pd.DataFrame({
    "Avg Math Score": sp_avgmath,
    "Avg Reading Score": sp_avgread,
    "% Passing Math": sp_math_pass,
    "% Passing Reading": sp_read_pass,
    "% Passing Both": sp_duo_pass
})
spendingsummary.index.name= "Per Student Budget"
# Format
spendingsummary.style.format({'Avg Math Score': '{:.2f}',
                              'Avg Reading Score': '{:.2f}',
                              '% Passing Math' : '{:.2f}%',
                              '% Passing Reading' : '{:.2f}%',
                              '% Passing Both' : '{:.2f}%'})

In [116]:
# Scores by School Size

# Establish the bins.
size_bins = [0, 1000, 2000, 5000]
labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

maindf['size_bins']=pd.cut(maindf['size'], size_bins, labels=labels)

#Group by size
size=maindf.groupby('size_bins')

In [121]:
# Calculate average math score by school size
sz_avgmath=size['math_score'].mean()
sz_avgmath

size_bins
Small (<1000)         83.828654
Medium (1000-2000)    83.372682
Large (2000-5000)     77.477597
Name: math_score, dtype: float64

In [122]:
# Calculate average reading score by school size
sz_avgread=size['reading_score'].mean()
sz_avgread

size_bins
Small (<1000)         83.974082
Medium (1000-2000)    83.867989
Large (2000-5000)     81.198674
Name: reading_score, dtype: float64

In [123]:
# Calculate % passing math by school size
sz_math_pass = maindf[maindf['math_score'] >= 70].groupby('size_bins')['Student ID'].count()/size['Student ID'].count()*100
sz_math_pass

size_bins
Small (<1000)         93.952484
Medium (1000-2000)    93.616522
Large (2000-5000)     68.652380
Name: Student ID, dtype: float64

In [124]:
# Calculate % passing reading by school size
sz_read_pass = maindf[maindf['reading_score'] >= 70].groupby('size_bins')['Student ID'].count()/size['Student ID'].count()*100
sz_read_pass

size_bins
Small (<1000)         96.040317
Medium (1000-2000)    96.773058
Large (2000-5000)     82.125158
Name: Student ID, dtype: float64

In [125]:
# Calculate % passing both by school size
sz_duo_pass = maindf[(maindf['reading_score'] >= 70) & (maindf['math_score'] >= 70)].groupby('size_bins')['Student ID'].count()/size['Student ID'].count()*100
sz_duo_pass

size_bins
Small (<1000)         90.136789
Medium (1000-2000)    90.624267
Large (2000-5000)     56.574046
Name: Student ID, dtype: float64

In [126]:
# Creating a size df
sizesummary=pd.DataFrame({
    "Avg Math Score": sz_avgmath,
    "Avg Reading Score": sz_avgread,
    "% Passing Math": sz_math_pass,
    "% Passing Reading": sz_read_pass,
    "% Passing Both": sz_duo_pass
})

sizesummary.index.name= 'Total Students'
sizesummary=sizesummary.reindex(labels)

# Format 
sizesummary.style.format({'Avg Math Score': '{:.2f}',
                              'Avg Reading Score': '{:.2f}',
                              '% Passing Math' : '{:.2f}%',
                              '% Passing Reading' : '{:.2f}%',
                              '% Passing Both' : '{:.2f}%'})

In [133]:
# Scores by School Type
# Groupby school type
stype=maindf.groupby('type')

In [134]:
# Calculate average math score by school type
st_avgmath=stype['math_score'].mean()
st_avgmath

type
Charter     83.406183
District    76.987026
Name: math_score, dtype: float64

In [135]:
# Calculate average reading score by school type
st_avgread=stype['reading_score'].mean()
st_avgread

type
Charter     83.902821
District    80.962485
Name: reading_score, dtype: float64

In [136]:
# Calculate % passing math by school type
st_math_pass = maindf[maindf['math_score'] >= 70].groupby('type')['Student ID'].count()/stype['Student ID'].count()*100
st_math_pass

type
Charter     93.701821
District    66.518387
Name: Student ID, dtype: float64

In [137]:
# Calculate % passing reading by school type
st_read_pass = maindf[maindf['reading_score'] >= 70].groupby('type')['Student ID'].count()/stype['Student ID'].count()*100
st_read_pass

type
Charter     96.645891
District    80.905249
Name: Student ID, dtype: float64

In [138]:
# Calculate % passing both by school type
st_duo_pass = maindf[(maindf['reading_score'] >= 70) & (maindf['math_score'] >= 70)].groupby('type')['Student ID'].count()/stype['Student ID'].count()*100
st_duo_pass

type
Charter     90.560932
District    53.695878
Name: Student ID, dtype: float64

In [139]:
# Creating a type df
typesummary=pd.DataFrame({
    "Avg Math Score": st_avgmath,
    "Avg Reading Score": st_avgread,
    "% Passing Math": st_math_pass,
    "% Passing Reading": st_read_pass,
    "% Passing Both": st_duo_pass
})

typesummary.index.name= 'Type of School'

# Format 
typesummary.style.format({'Avg Math Score': '{:.2f}',
                              'Avg Reading Score': '{:.2f}',
                              '% Passing Math' : '{:.2f}%',
                              '% Passing Reading' : '{:.2f}%',
                              '% Passing Both' : '{:.2f}%'})